body {
	background-color: #cccccc;
	margin: 0;
	padding: 0;
}

div {
	margin-top: 200px;
	font-family: Arial, Helvetica;
}

ul.menu {
	background-color: orange;
	margin: 0;
	padding: 0;
}

.menu ul, .menu li {
	list-style: none;
}

.menu > ul {
	display: flex;
	justify-content: center;
}

.menu > ul li a {
	display: block;
	background: #ececed;
	padding: 15px 30px 15px 40px;
	font-size: 14px;
	color: #454547;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.4s ease;
}

.menu > ul li {
	position: relative;
}

.menu > ul > li:first-child {
	border-left: 1px solid #999999;
}

.menu > ul > li:last-child {
	border-right: 1px solid #999999;
}

.menu > ul li {
	position: relative;
	border-right: 1px solid #c7c8ca;
}

.menu li a:hover {
	background-color: #454547;
	color: #00ff00;
	box-shadow: 3px 6px 12px -6px;
	transition: all 0.4s ease;
}

/* ** submenu ** */

.menu li ul {
	position: absolute;
	width: 200px;
	left: -41px;
	display: none;
}

.menu li > ul li {
	border: 1px solid #c7c8ca;
}

.menu li > ul li a {
	padding: 10px;
	text-transform: none;
	background: #e4e4e5;
}

.menu ul li > ul li a:hover {
	color: #ccff33;
	background-color: #909090;

}

.menu li:hover > ul {
	display: block;
}